
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta http-equiv="Content-Language" content="en" /> 
	<meta name="description" content="" /> 
	<meta name="keywords" content="" /> 
	
	<title>John Smith - Designer / Web Developer</title> 
	<link rel="stylesheet" media="all" href="css/style.css" /> 
	<link rel="stylesheet" media="all" href="js/fancybox/jquery.fancybox-1.3.1.css" /> 
	<link rel="stylesheet" media="print" href="css/print.css" /> 
	
	<link rel="stylesheet" media="all" href="css/photo_one.css" class="color_style" title="photo_one" /> 
	<link rel="stylesheet" media="all" href="css/blue.css" class="color_style" title="blue"  disabled="DISABLED" /> 
	<link rel="stylesheet" media="all" href="css/magenta.css" class="color_style" title="magenta" disabled="DISABLED" /> 
	<link rel="stylesheet" media="all" href="css/purple.css" class="color_style" title="purple" disabled="DISABLED" /> 
	<link rel="stylesheet" media="all" href="css/coffee.css" class="color_style" title="coffee" disabled="DISABLED" /> 
	<link rel="stylesheet" media="all" href="css/grey.css" class="color_style" title="grey" disabled="DISABLED" /> 
	<link rel="stylesheet" media="all" href="css/photo_two.css" class="color_style" title="photo_two" disabled="DISABLED" /> 
	
	<link rel="stylesheet" media="all" href="css/demo.css" /> 
	 
	<script type="text/javascript" src="js/jquery-142.min.js"></script> 
	<script type="text/javascript" src="js/jquery.nivo.slider.pack.js" ></script> 
	<script type="text/javascript" src="js/jquery.scrollTo-1.4.2-min.js" ></script> 
	<script type="text/javascript" src="js/jquery.easing.1.3.js" ></script> 
	<script type="text/javascript" src="js/jquery.twitter.js" ></script> 
	<script type="text/javascript" src="js/jquery.form.js" ></script> 
	<script type="text/javascript" src="js/jquery.validate.min.js" ></script> 
	<script type="text/javascript" src="js/fancybox/jquery.fancybox-1.3.1.pack.js"></script> 
	<script type="text/javascript" src="js/script.js"></script> 
	
	<script type="text/javascript" src="js/demo.js"></script> 
	
	<script type="text/javascript"> 
 
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-19274986-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script> 
</head> 
<body> 
	<div class="b-style-switcher"> 
		<a href="#" class="close"><img src="images/close.png" alt="close" /></a> 
		<a href="#" class="open"><img src="images/open.png" alt="open" /></a> 
		<h4>Style</h4> 
		<ul> 
			<li><a href="#" class="styleswitch" rel="blue">Blue</a></li> 
			<li><a href="#" class="styleswitch" rel="magenta">Magenta</a></li> 
			<li><a href="#" class="styleswitch" rel="purple">Purple</a></li> 
			<li><a href="#" class="styleswitch" rel="coffee">Coffee</a></li> 
			<li><a href="#" class="styleswitch" rel="grey">Grey</a></li> 
			<li><a href="#" class="styleswitch" rel="photo_one">Lights one</a></li> 
			<li><a href="#" class="styleswitch" rel="photo_two">Lights two</a></li> 
		</ul> 
		<h4>Layout</h4> 
		<ul> 
			<li><a href="index.html">Full</a></li> 
			<li><a href="simple.html">Simple</a></li> 
		</ul> 
	</div> 
	
	<!-- Wrappers start --> 
	<div class="l-outer"> 
	<div class="l-frame" id="frame"> 
	<div class="l-frame-inner"> 
	
		<!-- Site pages holder starts. This block is a conteiner for all pages -->	
		<div class="b-pages pages"> 
		
			<!-- PAGE STARTS --> 
			<!-- Home page starts --> 
			<!-- Block ID is related to navigation. --> 
			<div class="b-page page" id="home"> 
				
				<!-- Header starts --> 
				<!-- You have to declare navigation block only once. Javascript will clone it to each page block --> 
				<div class="header"> 
					<!-- Page header starts --> 
					<div class="b-header"> 
						<h1><span>John Smith<span class="img"></span></span></h1> 
						<div class="b-site-title">Designer / Web developer</div> 
					</div> 
					<!-- Page header ends --> 
					
					<!-- Navigation starts --> 
					<div class="mainmenu"> 
						<ul class="b-menu"> 
							<li><a href="#home" rel="home" class="nav">Home</a></li> 
							<li><a href="#cv" rel="cv" class="nav">CV</a></li> 
							<li><a href="#references" rel="references" class="nav">References</a></li> 
							<li><a href="#websites" rel="websites" class="nav">Web sites</a></li> 
							<li><a href="#print" rel="print" class="nav">Print</a></li> 
							<li><a href="#styles" rel="styles" class="nav">Styles</a></li> 
							<li><a href="#contact" rel="contact" class="nav">Contact</a></li> 
						</ul> 
					</div> 
					<!-- Navigation ends --> 
				</div> 
				<!-- Header ends --> 
				
				<!-- Page content starts. 
						Class name 'content' is for javascript. 
				--> 
				<div class="content"> 
					
					<!-- Top block (with a grey background) of the page content starts --> 
					<div class="b-top"> 
						<div class="b-top-inner startpage"> 
							<!-- Top block content starts --> 
							
							<!-- Nivo-slider block starts --> 
							<!-- Check instructions or http://nivo.dev7studios.com/ for more details --> 
							<div id="slider" class="b-slider"> 
								<img src="images/slider/Slide_3.jpg" title="#slider_3" alt=""  /> 
								<img src="images/slider/Slide_7.jpg" title="#slider_7" alt=""  /> 
								<img src="images/slider/Slide_5.jpg" title="#slider_5" alt=""  /> 
							</div> 
							<!-- Nivo-slider block ends --> 
							
							<!-- Nivo-sliider hidden blocks starts. Those blocks are used by slider as for captions to the images and related by its id to img title --> 
							<div id="slider_3" class="nivo-html-caption"> 
							    <h2>AdorePaper.eu</h2> 
							    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p> 
							</div> 
							<div id="slider_5" class="nivo-html-caption"> 
							    <h2>HELLO, THERE!</h2> 
							    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p> 
							</div> 
							<div id="slider_7" class="nivo-html-caption"> 
							    <h2>DARK SIDE OF THE MOON</h2> 
							    <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p> 
							</div> 
							<!-- Nivo-sliider hidden blocks ends. --> 
							
							<!-- Top block content ends --> 
						</div> 
					</div> 
					<!-- Top block ends --> 
					
					<!-- Welcome text block starts --> 
					<div class="b-welcome"> 
						<p> 
							Hi there! My name is John Smith and I am designer / web developer. This is my CV/Portfolio website. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero. sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
						</p> 
					</div> 
					<!-- Welcome text block ends --> 
					
					<!-- Featured works holder starts --> 
					<div class="b-featured-works-holder"> 
						<!-- First featured work block starts --> 
						<div class="b-featured-work"> 
							<!-- featured work title --> 
							<h3>Adorepaper.eu</h3> 
							<!-- featured work image, don't forget setup width and height --> 
							<img src="images/temp/adorepaper-eu.jpg" width="280" height="188" alt="adorepaper" title="adorepaper" /> 
							<!-- featured work description --> 
							<p class="small"> 
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
							</p> 
							<!-- featured work link --> 
							<a href="#adorepaper" rel="websites:adorepaper" class="goto">Show work</a> 
						</div> 
						<!-- First featured work block ends --> 
						
						<!-- Second featured work block starts --> 
						<div class="b-featured-work"> 
							<!-- featured work title --> 
							<h3>Senseoftea.com</h3> 
							<!-- featured work image, don't forget setup width and height --> 
							<img src="images/temp/senseoftea-com.jpg" width="280" height="188" alt="sense of tea" title="sense of tea" /> 
							<!-- featured work description --> 
							<p class="small"> 
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
							</p> 
							<!-- featured work link --> 
							<a href="#senseoftea" rel="websites:senseoftea" class="goto">Show work</a> 
						</div> 
						<!-- Second featured work block ends --> 
						
						<!-- Third featured work block starts --> 
						<div class="b-featured-work third"> 
							<!-- featured work title --> 
							<h3>Vaatamind.ee</h3> 
							<!-- featured work imag, don't forget setup width and heighte --> 
							<img src="images/temp/vaatamind-ee.jpg" width="280" height="188" alt="vaatamind" title="vaatamind" /> 
							<!-- featured work description --> 
							<p class="small"> 
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.  
							</p> 
							<!-- featured work link --> 
							<a href="#vaatamind" rel="websites:vaatamind" class="goto">Show work</a> 
						</div> 
						<!-- Third featured work block ends --> 
					</div> 
					<!-- Featured works holder starts --> 
				</div> 
			</div> 
			<!-- Home page ends --> 
			<!-- PAGE ENDS --> 
			
			
			<!-- PAGE STARTS --> 
			<!-- CV page starts --> 
			<!-- Block ID is related to navigation. --> 
			<div class="b-page page" id="cv"> 
				
				<!-- Page content starts. 
						Class name 'content' is for javascript. 
				--> 
				<div class="content cv"> 
				
					<!-- Top block (with a grey background) of the page content starts --> 
					<div class="b-top"> 
						<div class="b-top-inner"> 
						
							<!-- Top block content starts --> 
							<!-- Your photo and name are here, please don't forget to change it, =) --> 
							<h2>Curicculum Vitae</h2> 
							<p>Controversy between Great Britain and the colonies arose in the 1760s when Parliament sought, for the first time, to directly tax the colonies for the purpose of raising revenue. Some colonists, known in the colonies as Whigs, objected to the new tax program, arguing that it was a violation of the British Constitution.</p> 
							<!-- Top block content ends --> 
							
						</div> 
					</div>		
					<!-- Top block ends --> 
					
					
					<!-- Your CV starts here --> 
					<!-- 
						H2 is for section title.
						Div with a class name 'b-cv-row' holds the section.
					--> 
					
					<!-- Professional profile section starts --> 
					<h2 class="cv">Professional profile</h2> 
					<div class="b-cv-row top">	
						<p class="small">Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p> 
					</div> 
					<!-- Professional profile section ends --> 
					
					<!-- Work expirience section starts --> 
					<h2 class="cv">Work experience</h2> 
					<div class="b-cv-row"> 
						<!-- record in the section --> 
						<h3 class="cv">Senior Project Manager<span>July 2009 &mdash; Present</span></h3> 
						<p class="smaller"><em>Web Developers, Full-Time</em></p> 
						<p class="small"> 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum.
							Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
						</p> 
						
						<!-- record in the section --> 
						<h3>Back-End Developer<span>October 2006 &mdash; May 2009</span></h3> 
						<p class="smaller"><em>Design Studios, Full-Time</em></p> 
						<p class="small"> 
							Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. 
							Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
						</p> 
						
						<!-- record in the section --> 
						<h3>Front-End Developer<span>September 2004 &mdash; October 2006</span></h3> 
						<p class="smaller"><em>Company name, Full-Time</em></p> 
						<p class="small"> 
							Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
							Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
						</p> 
						
						<!-- record in the section --> 
						<h3>Freelance Web Developer<span>September 2000 &mdash; October 2004</span></h3> 
						<p class="smaller"><em>Self Employed</em></p> 
						<p class="small"> 
							Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
						</p> 
					</div> 
					<!-- Work expirience section ends --> 
					
					<!-- Professianal skills section starts --> 
					<h2 class="cv">Professional skills</h2> 
					<div class="b-cv-row"> 
						<!-- record in the section --> 
						<h3 class="cv">Server-side technologies<span><img src="images/star.png" alt="star" title="star" /><img src="images/star.png" alt="star" title="star" /><img src="images/star.png" alt="star" title="star" /><img src="images/star.png" alt="star" title="star" /></span></h3> 
						<p class="smaller"><em>PHP, MySql, Postgrsql, Java, ZendFramework, CodeIntiger, Wordpress</em></p> 
						<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.</p> 
						
						<!-- record in the section --> 
						<h3 class="cv">Client-side technologies<span><img src="images/star.png" alt="star" title="star" /><img src="images/star.png" alt="star" title="star" /><img src="images/star.png" alt="star" title="star" /><img src="images/star.png" alt="star" title="star" /><img src="images/star.png" alt="star" title="star" /></span></h3> 
						<p class="smaller"><em>Javascript, HTML, CSS, jQuery</em></p> 
						<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.</p> 
						
						<!-- record in the section --> 
						<h3 class="cv">Design<span><img src="images/star.png" alt="star" title="star" /><img src="images/star.png" alt="star" title="star" /><img src="images/star.png" alt="star" title="star" /><img src="images/star.png" alt="star" title="star" /></span></h3> 
						<p class="smaller"><em>Photoshop, Illustrator</em></p> 
						<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. </p> 
					</div> 
					<!-- Professianal skills section ends --> 
					
					<!-- Education section starts --> 
					<h2 class="cv">Education</h2> 
					<div class="b-cv-row"> 
						<!-- record in the section --> 
						<h3>University of Technology, Tallinn<span>2004 &mdash; 2006</span></h3> 
						<p class="smaller"><em>Magister of Black and White Magic</em></p> 
						<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum.</p> 
						
						<!-- record in the section --> 
						<h3>University of Technology, Tallinn<span>1999 &mdash; 2003</span></h3> 
						<p class="smaller"><em>Bachelor of Unlimited Possabilities</em></p> 
						<p class="small">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. </p> 
					</div> 
					<!-- Education section ends --> 
					
					<!-- Your CV ends here --> 
				</div> 
				<!-- CV page content block ends --> 
			</div> 
			<!-- Home/CV page ends --> 
			<!-- PAGE ENDS --> 
			
			
			<!-- PAGE STARTS --> 
			<!-- References page starts --> 
			<!-- Block ID is related to navigation. --> 
			<div class="b-page page" id="references"> 
				
				<!-- Page content starts. 
						Class name 'content' is for javascript. 
				--> 
				<div class="content"> 
					<!-- Top block (with a grey background) of the page content starts --> 
					<div class="b-top"> 
						<div class="b-top-inner"> 
							<!-- Top block content starts --> 
							<h2>References</h2> 
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p> 
							<!-- Top block content ends --> 
						</div> 
					</div> 
					<!-- Top block ends --> 
							
					<!-- Your references starts here. Use 'blockquote' tag for it and 'hr' tag as a divider --> 
					<blockquote> 
						Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.<br /> 
						<span>&mdash; John Dow, <a href="#">Company Name</a></span>	
					</blockquote> 
					<hr /> 
					<blockquote> 
						Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. <br /> 
						<span>&mdash; Johnatan, <a href="#">Company Name</a></span> 
					</blockquote> 
					<hr /> 
					<blockquote> 
						Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.<br /> 
						<span>&mdash; Johnatan, <a href="#">Company Name</a></span>	
					</blockquote> 
					<!-- Your references ends here --> 
				</div> 
				<!-- Page content ends --> 
			</div> 
			<!-- References page ends --> 
			<!-- PAGE ENDS --> 
			
			
			
			<!-- PAGE STARTS --> 
			<!-- Websites page starts --> 
			<!-- Block ID is related to navigation. --> 
			<div class="b-page page" id="websites"> 
				
				<!-- Page content starts. 
						Class name 'content' is for javascript. 
				--> 
				<div class="content"> 
					<!-- Top block (with a grey background) of the page content starts --> 
					<div class="b-top"> 
						<div class="b-top-inner"> 
							<!-- Top block content starts --> 
							<h2>Websites</h2> 
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p> 
							<!-- Top block content ends --> 
						</div> 
					</div> 
					<!-- Top block ends --> 
					
					<!-- Sub blocks wrappers starts --> 
					<div class="b-blocks-holder blocks-holder" id="projects_sub_block"> 
						<div class="b-sub-blocks blocks"> 
						
							<!-- Sub blocks starts --> 
							
							<!-- Sub block starts --> 
							<!-- Sub Block ID is related to navigation. --> 
							<div class="b-sub-block block" id="adorepaper"> 
								<!-- Portfolio work title --> 
								<h3>Adorepaper.eu</h3> 
								
								<!-- thumbnails. use class name 'fancy' to open big images in a fancybox --> 
								<ul class="b-portfolio-thumbs"> 
									<li><a href="images/temp/websites/adorepaper/adorepaper_startpage.jpg" class="fancy"><img src="images/temp/websites/adorepaper/adorepaper_startpage_thumb.jpg" width="213" height="143" alt="adorepaper" title="adorepaper" /></a></li> 
									<li><a href="images/temp/websites/adorepaper/adorepaper_catalog.jpg" class="fancy"><img src="images/temp/websites/adorepaper/adorepaper_catalog_thumb.jpg" width="213" height="143" alt="adorepaper" title="adorepaper" /></a></li> 
									<li><a href="images/temp/websites/adorepaper/adorepaper_item.jpg" class="fancy"><img src="images/temp/websites/adorepaper/adorepaper_item_thumb.jpg" width="213" height="143" alt="adorepaper" title="adorepaper" /></a></li> 
									<li><a href="images/temp/websites/adorepaper/adorepaper_moneybookers.jpg" class="fancy"><img src="images/temp/websites/adorepaper/adorepaper_moneybookers_thumb.jpg" width="213" height="143" alt="adorepaper" title="adorepaper" /></a></li> 
								</ul> 
								
								<!-- description --> 
								<p class="small"> 
									Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
								</p> 
								
								<!-- External link to the work --> 
								<p class="small"> 
									<a href="#">www.adorepaper.eu</a> 
								</p> 
								
								<!-- next, previous navigation starts --> 
								<p class="b-websites-nav"> 
									<!-- link to next block, use id of the next block here --> 
									<a href="#vaatamind" rel="next" class="subnav next">Next Work</a> 
								</p> 
								<!-- next, previous navigation ends --> 
							</div> 
							<!-- Sub block ends --> 
						
							<!-- Sub block starts --> 
							<!-- Sub Block ID is related to navigation. --> 
							<div class="b-sub-block block" id="vaatamind">		
								<!-- Portfolio work title --> 
								<h3>Vaatamind.ee</h3> 
								
								<!-- thumbnails. use class name 'fancy' to open big images in a fancybox --> 
								<ul class="b-portfolio-thumbs"> 
									<li><a href="images/temp/websites/vaatamind/vaatamind_startpage.jpg" class="fancy"><img src="images/temp/websites/vaatamind/vaatamind_startpage_thumb.jpg" width="213" height="143" alt="vaatamind" title="vaatamind" /></a></li> 
									<li><a href="images/temp/websites/vaatamind/vaatamind_looks.jpg" class="fancy"><img src="images/temp/websites/vaatamind/vaatamind_looks_thumb.jpg" width="213" height="143" alt="vaatamind" title="vaatamind" /></a></li> 
									<li><a href="images/temp/websites/vaatamind/vaatamind_users.jpg" class="fancy"><img src="images/temp/websites/vaatamind/vaatamind_users_thumb.jpg" width="213" height="143" alt="vaatamind" title="vaatamind" /></a></li> 
									<li><a href="images/temp/websites/vaatamind/vaatamind_user_profile.jpg" class="fancy"><img src="images/temp/websites/vaatamind/vaatamind_user_profile_thumb.jpg" width="213" height="143" alt="vaatamind" title="vaatamind" /></a></li> 
								</ul> 
								
								<!-- description --> 
								<p class="small"> 
									Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
								</p> 
								
								<!-- External link to the work --> 
								<p class="small"> 
									<a href="#">www.vaatamind.ee</a> 
								</p> 
								
								<!-- next, previous navigation --> 
								<p class="b-websites-nav"> 
									<!-- link to previus block, use id of the previous block here --> 
									<a href="#mediaworks" rel="prev" class="subnav prev">Previous Work</a> 
									<!-- link to next block, use id of the nextblock here --> 
									<a href="#sensoftea" rel="next" class="subnav next">Next Work</a> 
								</p> 
								<!-- next, previous navigation ends --> 
							</div> 
							<!-- Sub block ends --> 
							
							<!-- Sub block starts --> 
							<!-- Sub Block ID is related to navigation. --> 
							<div class="b-sub-block block" id="senseoftea">	
								<!-- Portfolio work title --> 
								<h3>SenseOfTea.com</h3> 
								
								<!-- thumbnails. use class name 'fancy' to open big images in a fancybox --> 
								<ul class="b-portfolio-thumbs"> 
									<li><a href="images/temp/websites/senseoftea/senseoftea_startpage.jpg" class="fancy"><img src="images/temp/websites/senseoftea/senseoftea_startpage_thumb.jpg" width="213" height="143" alt="sense of tea" title="sense of tea" /></a></li> 
									<li><a href="images/temp/websites/senseoftea/senseoftea_catalog.jpg" class="fancy"><img src="images/temp/websites/senseoftea/senseoftea_catalog_thumb.jpg" width="213" height="143" alt="sense of tea" title="sense of tea" /></a></li> 
									<li><a href="images/temp/websites/senseoftea/senseoftea_item.jpg" class="fancy"><img src="images/temp/websites/senseoftea/senseoftea_item_thumb.jpg" width="213" height="143" alt="sense of tea" title="sense of tea" /></a></li> 
								</ul> 
								
								<!-- description --> 
								<p class="small"> 
									Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
								</p> 
								
								<!-- External link to the work --> 
								<p class="small"> 
									<a href="#">www.senseoftea.com</a> 
								</p> 
								
								<!-- next, previous navigation starts --> 
								<p class="b-websites-nav"> 
									<!-- link to previus block, use id of the previous block here --> 
									<a href="#vaatamind" rel="prev" class="subnav prev">Previous Work</a> 
									<!-- last sub block - no 'Next' link, =) --> 
								</p> 
								<!-- next, previous navigation ends --> 
							</div> 
							<!-- Sub block ends --> 
							
							<!-- Sub blocks ends --> 
							
						</div> 
					</div> 
					<!-- Sub blocks wrappers ends --> 
					
				</div> 
				<!-- Page content ends --> 
			</div> 
			<!-- Websites page block ends --> 
			<!-- PAGE ENDS --> 
			
			
			
			<!-- PAGE STARTS --> 
			<!-- Print page starts --> 
			<!-- Block ID is related to navigation. --> 
			<div class="b-page page" id="print"> 
				
				<!-- Page content starts. 
						Class name 'content' is for javascript. 
				--> 
				<div class="content"> 
					<!-- Top block (with a grey background) of the page content starts --> 
					<div class="b-top"> 
						<div class="b-top-inner"> 
							<!-- Top block content starts --> 
							<h2>Print works</h2> 
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p> 
							<!-- Top block content ends --> 
						</div> 
					</div> 
					<!-- Top block ends --> 
					
					<!-- Sub blocks wrappers starts --> 
					<div class="b-blocks-holder blocks-holder" id="prints_sub_block"> 
						<div class="b-sub-blocks blocks"> 
							
							<!-- Sub blocks starts --> 
							
							<!-- Sub block starts --> 
							<!-- Sub Block ID is related to navigation. --> 
							<div class="b-sub-block block" id="restrained_typography_set">	
								<!-- Portfolio work title --> 
								<h3>Restrained Typography Set</h3> 
								
								<!-- thumbnails. use class name 'fancy' to open big images in a fancybox --> 
								<ul class="b-portfolio-thumbs"> 
									<li><a href="images/temp/prints/restrained_typography_set/restrained_typography_set_one.jpg" class="fancy"><img src="images/temp/prints/restrained_typography_set/restrained_typography_set_one_thumb.jpg" width="214" height="239" alt="restrained typography set" title="restrained typography set" /></a></li> 
									<li><a href="images/temp/prints/restrained_typography_set/restrained_typography_set_two.jpg" class="fancy"><img src="images/temp/prints/restrained_typography_set/restrained_typography_set_two_thumb.jpg" width="214" height="239" alt="restrained typography set" title="restrained typography set" /></a></li> 
									<li><a href="images/temp/prints/restrained_typography_set/restrained_typography_set_three.jpg" class="fancy"><img src="images/temp/prints/restrained_typography_set/restrained_typography_set_three_thumb.jpg" width="214" height="239" alt="restrained typography set" title="restrained typography set" /></a></li> 
								</ul> 
								
								<!-- description --> 
								<p class="small"> 
									Style and elegance of this two-tone wedding stationery set suit any modern wedding. The main role plays the typography that marks out the names of the couple. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
									Style and elegance of this two-tone wedding stationery set suit any modern wedding. The main role plays the typography that marks out the names of the couple. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
								</p> 
								
								<!-- next, previous navigation starts --> 
								<p class="b-websites-nav"> 
									<!-- link to next block, use id of the next block here --> 
									<a href="#charming_letters_set" rel="next" class="subnav next">Next Work</a> 
								</p> 
								<!-- next, previous navigation ends --> 
							</div> 
							<!-- Sub block ends --> 
						
							<!-- Sub block starts --> 
							<!-- Sub Block ID is related to navigation. --> 
							<div class="b-sub-block block" id="charming_letters_set">	
								<!-- Portfolio work title --> 
								<h3>Charming Letters Set</h3> 
								
								<!-- thumbnails. use class name 'fancy' to open big images in a fancybox --> 
								<ul class="b-portfolio-thumbs"> 
									<li><a href="images/temp/prints/charming_letters_set/charming_letters_set_one.jpg" class="fancy"><img src="images/temp/prints/charming_letters_set/charming_letters_set_one_thumb.jpg" width="214" height="239" alt="charming letters set" title="charming letters set" /></a></li> 
									<li><a href="images/temp/prints/charming_letters_set/charming_letters_set_two.jpg" class="fancy"><img src="images/temp/prints/charming_letters_set/charming_letters_set_two_thumb.jpg" width="214" height="239" alt="charming letters set" title="charming letters set" /></a></li> 
									<li><a href="images/temp/prints/charming_letters_set/charming_letters_set_three.jpg" class="fancy"><img src="images/temp/prints/charming_letters_set/charming_letters_set_three_thumb.jpg" width="214" height="239" alt="charming letters set" title="charming letters set" /></a></li> 
								</ul> 
								
								<!-- description --> 
								<p class="small"> 
									Pellucid and aerial design consisting of exquisite typography and high-quality paper. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
								</p> 
								
								<!-- next, previous navigation starts --> 
								<p class="b-websites-nav"> 
									<!-- link to previus block, use id of the previous block here --> 
									<a href="#restrained_typography_set" rel="prev" class="subnav prev">Previous Work</a> 
									<!-- link to next block, use id of the next block here --> 
									<a href="#coral_bay_set" rel="next" class="subnav next">Next Work</a> 
								</p> 
								<!-- next, previous navigation ends --> 
							</div> 
							<!-- Sub block ends --> 
						
							<!-- Sub block starts --> 
							<!-- Sub Block ID is related to navigation. --> 
							<div class="b-sub-block block" id="coral_bay_set">	
								<!-- Portfolio work title --> 
								<h3>Coral Bay Set</h3> 
								
								<!-- thumbnails. use class name 'fancy' to open big images in a fancybox --> 
								<ul class="b-portfolio-thumbs"> 
									<li><a href="images/temp/prints/coral_bay_set/coral_bay_set_one.jpg" class="fancy"><img src="images/temp/prints/coral_bay_set/coral_bay_set_one_thumb.jpg" width="214" height="239" alt="coral bay set" title="coral bay set" /></a></li> 
									<li><a href="images/temp/prints/coral_bay_set/coral_bay_set_two.jpg" class="fancy"><img src="images/temp/prints/coral_bay_set/coral_bay_set_two_thumb.jpg" width="214" height="239" alt="coral bay set" title="coral bay set" /></a></li> 
									<li><a href="images/temp/prints/coral_bay_set/coral_bay_set_three.jpg" class="fancy"><img src="images/temp/prints/coral_bay_set/coral_bay_set_three_thumb.jpg" width="214" height="239" alt="coral bay set" title="coral bay set" /></a></li> 
								</ul> 
								
								<!-- description --> 
								<p class="small"> 
									A modern extraordinary wedding stationery set for a destination wedding in an exotic country. Combine your favorite colors, making it either more delicate or standing out. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
								</p> 
								
								<!-- next, previous navigation starts --> 
								<p class="b-websites-nav"> 
									<!-- link to previus block, use id of the previous block here --> 
									<a href="#charming_letters_set" rel="prev" class="subnav prev">Previous</a> 
									<!-- link to next block, use id of the next block here --> 
									<a href="#lily_narcisco_set" rel="next" class="subnav next">Next</a> 
								</p> 
								<!-- next, previous navigation ends --> 
							</div> 
							<!-- Sub block ends --> 
						
							<!-- Sub block starts --> 
							<!-- Sub Block ID is related to navigation. --> 
							<div class="b-sub-block block" id="lily_narcisco_set">	
								<!-- Portfolio work title --> 
								<h3>Lily and Narcisco Set</h3> 
								
								<!-- thumbnails. use class name 'fancy' to open big images in a fancybox --> 
								<ul class="b-portfolio-thumbs"> 
									<li><a href="images/temp/prints/lily_narcisco_set/lily_narcisco_set_one.jpg" class="fancy"><img src="images/temp/prints/lily_narcisco_set/lily_narcisco_set_one_thumb.jpg" width="214" height="239" alt="lily narcisco set" title="lily narcisco set" /></a></li> 
									<li><a href="images/temp/prints/lily_narcisco_set/lily_narcisco_set_two.jpg" class="fancy"><img src="images/temp/prints/lily_narcisco_set/lily_narcisco_set_two_thumb.jpg" width="214" height="239" alt="lily narcisco set" title="lily narcisco set" /></a></li> 
									<li><a href="images/temp/prints/lily_narcisco_set/lily_narcisco_set_three.jpg" class="fancy"><img src="images/temp/prints/lily_narcisco_set/lily_narcisco_set_three_thumb.jpg" width="214" height="239" alt="lily narcisco set" title="lily narcisco set" /></a></li> 
									<li><a href="images/temp/prints/lily_narcisco_set/lily_narcisco_set_four.jpg" class="fancy"><img src="images/temp/prints/lily_narcisco_set/lily_narcisco_set_four_thumb.jpg" width="214" height="239" alt="lily narcisco set" title="lily narcisco set" /></a></li> 
								</ul> 
								
								<!-- description --> 
								<p class="small"> 
									An elegant modern wedding stationery set with subtle lily and daffodil flowers. For those who value minimalism and luxury at the same time. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
								</p> 
								
								<!-- next, previous navigation starts --> 
								<p class="b-websites-nav"> 
									<!-- link to previus block, use id of the previous block here --> 
									<a href="#coral_bay_set" rel="prev" class="subnav prev">Previous Work</a> 
									<!-- last sub block - no 'Next' link, =) --> 
								</p> 
								<!-- next, previous navigation ends --> 
							</div> 
							<!-- Sub block ends --> 
							
							<!-- Sub blocks ends --> 
						</div> 
					</div> 
					
				</div> 
			</div> 
			<!-- Websites page block ends --> 
			<!-- PAGE ENDS --> 
			
 
			
			<!-- PAGE STARTS --> 
			<!-- Styles page starts --> 
			<!-- Block ID is related to navigation. --> 
			<!-- You won't need this page. So just delete all this block --> 
			<div class="b-page page" id="styles"> 
				
				<div class="content"> 
					<div class="b-top"> 
						<div class="b-top-inner"> 
							<h2>Styles</h2> 
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>		
						</div> 
					</div> 
					
					<hr /> 
					
					<div class="b-style right"> 
						<div class="b-style left">&lt;h2&gt;, &lt;h3&gt;, &lt;h4&gt;, &lt;h5&gt;, &lt;h6&gt;</div> 
						<h2>This is header 2</h2> 
						<h3>This is header 3</h3> 
						<h4>This is header 4</h4> 
						<h5>This is header 5</h5> 
						<h6>This is header 6</h6> 
					</div> 
					
					<hr /> 
					
					<div class="b-style right"> 
						<div class="b-style left">&lt;p&gt;</div> 
						<p> 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Integer tincidunt. Cras dapibus.
						</p> 
					</div> 
					
					<hr /> 
					
					<div class="b-style right"> 
						<div class="b-style left">&lt;p class="small"&gt;</div> 
						<p class="small"> 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Integer tincidunt. Cras dapibus.
						</p> 
					</div> 
					
					<hr /> 
					
					<div class="b-style right"> 
						<div class="b-style left">&lt;p class="smaller"&gt;</div> 
						<p class="smaller"> 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Integer tincidunt. Cras dapibus.
						</p> 
					</div> 
					
					<hr /> 
					
					<div class="b-style right"> 
						<div class="b-style left">&lt;p class="large"&gt;</div> 
						<p class="large"> 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Integer tincidunt. Cras dapibus.
						</p> 
					</div> 
					
					<hr /> 
					
					<div class="b-style right"> 
						<div class="b-style left">&lt;span class="highlight"&gt;</div> 
						<p> 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus <span class="highlight">hendrerit arcu sed erat molestie</span> vehicula. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Integer tincidunt. Cras dapibus.
						</p> 
					</div> 
					
					<hr /> 
					
					<div class="b-style right"> 
						<div class="b-style left">&lt;ol&gt;</div> 
						<ol> 
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li> 
							<li>Nullam in dui mauris.</li> 
							<li>Praesent urna enim, fringilla a ultrices id, pretium id justo.</li> 
						</ol> 
					</div> 
					
					<hr /> 
					
					<div class="b-style right"> 
						<div class="b-style left">&lt;ul&gt;</div> 
						<ul> 
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li> 
							<li>Nullam in dui mauris.</li> 
							<li>Praesent urna enim, fringilla a ultrices id, pretium id justo.</li> 
						</ul> 
					</div> 
					
					<hr /> 
					
					<div class="b-style right"> 
						<div class="b-style left">&lt;del&gt;, &lt;em&gt;, &lt;strong&gt;</div> 
						
						<del>del</del>, <em>em</em>, <strong>strong</strong> 
					</div> 
					
					<hr /> 
					
					<div class="b-style right"> 
						<div class="b-style left">&lt;blockquote&gt;</div> 
						
						<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Integer tincidunt.</blockquote> 
					</div> 
					
					<hr /> 
					
					<div class="b-style right"> 
						<div class="b-style left">&lt;a class="button"&gt;</div> 
						
						<a href="#" class="button smaller">Button</a> 
					</div> 
					
					
				</div> 
			</div> 
			<!-- Styles page ends --> 
			<!-- PAGE ENDS --> 
			
			
			<!-- PAGE STARTS --> 
			<!-- Contact page starts --> 
			<!-- Block ID is related to navigation. --> 
			<div class="b-page page" id="contact"> 
				
				<!-- Page content starts. 
						Class name 'content' is for javascript. 
				--> 
				<div class="content"> 
					<!-- Top block (with a grey background) of the page content starts --> 
					<div class="b-top"> 
						<div class="b-top-inner"> 
							<!-- Top block content starts --> 
							<h2>Contact</h2> 
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p> 
							<!-- Top block content ends --> 
						</div> 
					</div> 
					<!-- Top block ends --> 
					
					<!-- Contact form wrapper starts --> 
					<div class="b-contact-form"> 
						<h3>Email me</h3> 
						
						<!-- Contact form starts --> 
						<form id="contact_form" method="post" action="sendmail.php"> 
							<div class="row"> 
								<label for="name">Name</label> 
								<input id="name" name="name" type="text" /> 
							</div> 
							<div class="row"> 
								<label for="email">Email</label> 
								<input id="email" name="email" type="text" /> 
							</div> 
							<div class="row"> 
								<label for="subject">Subject</label> 
								<input id="subject" name="subject" type="text" /> 
							</div> 
							<div class="row"> 
								<label for="body">Message</label> 
								<textarea id="body" name="body" cols="48" rows="5"></textarea> 
							</div> 
							<div class="row"> 
								<a href="#" id="contact_submit" class="button send smaller">Send message</a> 
								
								<div class="b-form-actions"> 
									<img class="hide" src="images/loader.gif" alt="loader" title="loader" /> 
								</div> 
								<div class="b-form-reply hide" id="contact_form_reply"></div> 
							</div> 
						</form> 
						<!-- Contact form ends --> 
						<!-- Contact form additional text or explanations starts --> 
						<p class="smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Integer tincidunt. Cras dapibus.</p> 
						<!-- Contact form additional text or explanations ends --> 
					</div> 
					<!-- Contact form wrapper ends --> 
					
					<!-- Twitter block starts --> 
					<div class="b-twitter"> 
						<!-- Twits are generated by javascript --> 
						<div id="twitter"></div> 
					</div> 
					<!-- Twitter block ends --> 
				</div> 
				<!-- Page content ends --> 
				
				<!-- Footer block starts --> 
				<!-- You have to declare footer block only once. Javascript will clone it to each page block --> 
				<div class="footer"> 
					<div class="b-footer">  
						<!-- Your social services links --> 
						<ul class="b-social-icons"> 
							<li><a href="#"><img src="images/social_icons/linkedin.png" alt="linkedin" /></a></li> 
							<li><a href="#"><img src="images/social_icons/twitter.png" alt="twitter" /></a></li> 
							<li><a href="#"><img src="images/social_icons/facebook.png" alt="facebook" /></a></li> 
							<li><a href="#"><img src="images/social_icons/flickr.png" alt="flickr" /></a></li> 
							<li><a href="#"><img src="images/social_icons/rss.png" alt="rss" /></a></li> 
							<li><a href="#"><img src="images/social_icons/lastfm.png" alt="lastfm" /></a></li> 
							<li><a href="#"><img src="images/social_icons/youtube.png" alt="youtube" /></a></li> 
						</ul> 
						<!-- Your footer information and text. --> 
						<p class="smaller">Please lorem ipsum me over the phone +333 22 55 777 or dolor sit amet via email <a href="mailto:xxx@xxx.xx">xxx@xxx.xx</a>, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit arcu sed erat molestie vehicula.</p> 
					</div> 
				</div> 
				<!-- Footer block ends --> 
			</div> 
			<!-- Contact page ends --> 
			<!-- PAGE ENDS --> 
			
			
		</div> 
		<!-- Site pages holder ends --> 
		
	</div> 
	</div> 
	</div> 
	<!-- Wrappers end --> 
</body> 
</html>
